
body{
  margin: 0;
  padding: 0;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
    background-image: url('portfillo.jpg'),url('middle.jpg'),url('contactsmall.jpg'); 
  background-repeat: no-repeat; 
  background-position:top,center,bottom;
  background-size: cover;
}
 #secondcontainer{
  
    background-image:url('middle.jpg'); 
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

} 
.smallcontainer{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
}
#thriedimage{
  
  margin: 0;
  height: 50vh;
  background-image: url('contactsmall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 

.project-list{
  display: flex;
  margin-top: 20px;
}

.project-card{
   color: white;
   background-color: rgba(255, 255, 255, 0.1);
   margin-right: 500px;
   border-radius: 10px;
   margin-left: 20px;
   margin-top: 30px;
   padding: 20px 30px;
}
  #containerr{
    text-align: center;
    animation: slideIn 2s ease-out forwards;
    opacity: 0;
    transform: translateX(-100%);
    
  }
  @keyframes slideIn{

    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  h1 h3{
    
    max-width: 10px;
  }
  h4{
    display: inline-block;
  }
.resume:hover{
    background-color: rgb(5, 126, 126);
    color: white;
}
#anchor{
    margin-top: 40px;
}

.resume{
    margin-top: 20px;
    font-style: italic;
    color: black;
    font-size: medium;
    text-decoration: none;  
    background-color: turquoise;
    padding: 10px 20px;
    border-radius: 5px;
 border : 2px solid black;
 transition: background-color 0.3s;
 }
header{
  text-align: center;
  padding-top: 30px;
}
#anlinks{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
}
img{
    margin-top: 15px;
    margin-right: 20px;
    height: 35px;
    width: 45px;
}
.linked{
    margin-right: 20px;
}
.info{
    color: white;
}
details {
  margin-top: 40px;
  margin-left: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px){
  .skill{
    width: 100%;
  }
}
.skill {
  
  width: 45%;
  background-color: #1a1a2e;
  margin: 1rem 0;
  border-radius: 12px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
}
.highlight {
  color: green;
  font-weight: bold;
}
.title {
  
  color: #2ecc71;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.desc {
  max-width: 700px;
  margin: 0 auto 2rem;
  line-height: 1.6;
  font-size: 1rem;
}
.skills-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.column1 {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 300px;

}
.bar {
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  height: 25px;
  position: relative;
}

.green { background-color: #2ecc71; }
.red { background-color: #e74c3c; }
.blue { background-color: #3498db; }
.yellow { background-color: #f1c40f; color: #000; }
.cyan { background-color: #00ffff; color: #000; }
.purple { background-color: #9b59b6; }
.magenta { background-color: #ff00ff;}

